/* Universal Styles */
*{ 
    /* Google fonts Family; */
    font-family: 'Lora', serif;
}
/* universal styles ends  */

/* Header Styles */
#title{
    color:cadetblue;
}
#title:hover{
    color: darkgreen;
    text-decoration: underline;
}
/* Header Style ends */
/* Calculation Styles here */
#button{
    color: whitesmoke;
    border: none;
    border-radius: 15px;
    background-color: rgb(6, 145, 238) ;
}

/* main section styles here */
/* calculator styles */
#calculator{
    background-color: rgb(241, 237, 237) ;
    border-radius: 15px;
}
#button-2{
    color: whitesmoke;
    border: none;
    border-radius: 7px;
    background-color: rgb(6, 145, 238);
}


